@font-face {
    font-family: "Norse";
    src: url("fonts/Norse-Bold.woff2") format("woff2"),
        url("fonts/Norse-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
}

.image-sidebar {
  height: 100vh;
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex: 1;
}

.logo-background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  margin-top: 14em;
  padding: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 4em;
  height: auto;
}

.logo-text {
  font-family: "Norse";
  font-size: 6rem;
  color: white;
}

.photo-attribution,
.photo-attribution a:visited {
  font-size: 0.9rem;
  margin-bottom: 0.8em;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.content > section:nth-of-type(odd) {
  background-color: #F8F9FA;
}

.cta {
  flex: 9;
}

.account-creation {
  flex: 8;
}

.log-in {
  flex: 9;
  box-shadow: inset 0 10px 10px -10px rgba(100, 100, 100, 0.5);
}